 /* Set the size of the div element that contains the map */
 #map {
    height: 400px; /* The height is 400 pixels */
    width: 100%; /* The width is the width of the web page */
}

/* Optional: Makes the sample page fill the window. */
html, body {
  height: 100%;
  margin: 0;
  padding: 0 !important;
}
body {
    background-color: #00b894 !important;
    margin: 0;
    padding: 0;
  }

  /* Control arrows */
  .icon {
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 80px;
    height: 60px;
    cursor: pointer;
  }
  
  .arrow {
    top: 25px;
    width: 90%;
    height: 10px;
    background-color: #fff;
    box-shadow: 0 3px 5px rgba(0, 0, 0, .2);
    animation: arrow 700ms linear infinite;
  }
  
  .arrow::after, .arrow::before {
    content: '';
    position: absolute;
    width: 60%;
    height: 10px;
    right: -8px;
    background-color: #fff;
  }
  
  .arrow::after {
    top: -12px;
    transform: rotate(45deg);
  }
  
  .arrow::before {
    top: 12px;
    box-shadow: 0 3px 5px rgba(0, 0, 0, .2);
    transform: rotate(-45deg);
  }
  .arrow-rotated180 {
    transform: rotate(180deg);  
  }
  .arrow-rotated90 {
    transform: rotate(90deg);
    -moz-transform: scaleX(90deg);
    -webkit-transform: scaleX(90deg);
    -ms-transform: scaleX(90deg);
  }
  .arrow-rotated270 {
    transform: rotate(-90deg);
    -webkit-transform: scaleX(-90deg);
  }



 
  
